#about_me {
  .about-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  .image {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      border-radius: 8px;
      max-width: 100%;
      transition: all 0.3s;

      &:hover {
        filter: saturate(200%) sepia(1);
      }
    }
  }
  .intro {
      padding-top: 50px;

      h1 {
        span {
          margin-bottom: 20px;
        }
      }

      // Type.js style
      .study-field {

        display: flex;
        align-items: center;
        margin-bottom:35px;
        h2 {
          margin: 0;
          color: #967aa1;
          height: 1em;
        }
        span {
          font-size: 18px;
        }
      }
      

      p {
        max-width: 350px;
        margin-bottom: 50px;
        font-size: 14px;
      }

      .small {
        border-radius: 50%;
        margin-bottom: 20px;
      }
    }

    // Technical skills Container styling
  .technical {
    .img-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
      
    img {
      width: 65px;  
      margin: 10px 5px;
      border-radius: 5px;
      padding: 7px;
      transition: background-color 0.3s, transform 0.5s;
      position: relative;

      &:hover {
        background-color: #967aa1;
        transform: scale(1.1);
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        animation: disintegrate 0.5s ease-in;
        pointer-events: none;
      }

      &:active {
        transform: scale(0.9);
      }

    }
  }

  .qualification-interests {
    display: Flex;
    margin-top: 60px;

    .divider {
      font-size: 30px;
      display: flex;
      align-items: center;
      padding-bottom: 16px;
    }

    .divider::before, 
    .divider::after {
      flex: 1;
      content: '';
      padding: 3px;
      border-top: 1px solid #967aa1;
      margin: 5px;
      opacity: 1;
    }

    .my-interests, 
    .technical {
      h4 {
        padding-bottom: 24px;
        text-align: center;
        align-items: center;
        margin: 0;
        padding: 0;
      }
    }
    
    .my-interests {
      display: flex;
      flex-direction: column;
      .interests, .qualifications {
        .interests-list, .qualification-list {
          list-style: none;
          padding-left: 0;
          }
        }
      }
  }

  .cv-and-certificate {
    margin-bottom: 40px;
    padding-top: 50px;

    .documents {
      a {
        text-decoration: none;
      }
    }
    .divider {
      font-size: 30px;
      display: flex;
      align-items: center;
      padding-bottom: 16px;
    }

    .divider::before, 
    .divider::after {
      flex: 1;
      content: '';
      padding: 3px;
      border-top: 1px solid #967aa1;
      margin: 5px;
      opacity: 1;
    }
  }
}