@media (max-width: 991px) {
  
  #about_me {
    .image {
      justify-content: start;
      height: unset;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 767px) {
#sidebar {
  position: static;
  width: 100%;
  height: auto;
  border-right: none;
  border-bottom: 1px solid #967aa1;
  display: flex;
  flex-direction: row;
  align-items: center;

  nav {
    margin-top: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    width: 100%;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 100%;

      li {
        margin: 0 10px;
        display: flex;
        flex-direction: row;

        a {
          text-decoration: none;
          width: 100%;

          span {
            writing-mode: horizontal-tb;
            transform: rotate(0deg);
            text-align: center;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}


h1 {
  font-size: 18px;
}

h2, h3, 
h4 {
  font-size: 14px;
}

main {
  padding-left: 0;

  > section {
    padding-right: 32px;
    padding-left: 32px;
  }
  hr {
    margin-right: 0;
    margin-left: 0;
  }
}

#about_me {
  .intro {
    padding-top: 80px;

    p {
      width: 100%;
    }
    .study-field {
      margin: 0px 0px 14px;
    }
  }
}

}

@media (max-width: 480px) {
  #abaut_me {
    .intro {
      padding: 40px 12px 0;
    }
  }
  .socials {
  ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: 0;
      
      li {

        a {
            display: flex;
            text-decoration: none;
            align-items: center;
            padding: 9px 11px;
            transition: all 0.3s;

            &:hover {
              background: #1d3557;
              border-radius: 6px;
              //opacity: 0.3;

              span, i {
                color: #fff;
              }
            }
          
            i {
              padding-right: 8px;
              font-size: 18px;
              color: #f1faee;
            }

            span {
              color: #f1faee;
            }
          }
      }
    }
  }

  #contact_me {
   height: 100vh;
  }

    #my_work { 
    
      .project-card {
        padding: 0;
    
        .description {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
    
          .overview {
            color: #444;
            margin-bottom: 10px;
            text-align: start;
            max-height: 2.4em;
            line-height: 1.2em;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
}