// Fonts, body color and headers global styles

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn', serif;
}

h1 {
  font-size: 35px;
  font-weight: 700;
}
p {
  font-family: 'Ubuntu', sans-serif;
}

html,body {
  background-image: radial-gradient(ellipse at top, #a8dadc 0%, #457b9d 95%);
}

* {
  color: #000000;
}