* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Vollkorn", serif;
}

h1 {
  font-size: 35px;
  font-weight: 700;
}

p {
  font-family: "Ubuntu", sans-serif;
}

html, body {
  background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%);
}

* {
  color: #fff;
}

main {
  padding-left: 104px;
}
main > section {
  display: none;
  padding-right: 114px;
  padding-left: 114px;
}
main > section.active {
  display: block;
}

#sidebar {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#sidebar nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar ul li {
  position: relative;
  margin-bottom: 35px;
}
#sidebar ul li a {
  text-decoration: none;
}
#sidebar ul li a span {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
  transition: transform 0.3s ease, writing-mode 0.3s ease;
}
#sidebar ul li a span:hover {
  writing-mode: horizontal-tb;
  transform: rotate(0deg);
}

#about_me .about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
#about_me .image {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#about_me .image img {
  border-radius: 8px;
  max-width: 100%;
  transition: all 0.3s;
}
#about_me .image img:hover {
  filter: saturate(200%) sepia(1);
}
#about_me .intro {
  padding-top: 50px;
}
#about_me .intro h1 span {
  margin-bottom: 20px;
}
#about_me .intro .study-field {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
#about_me .intro .study-field h2 {
  margin: 0;
  height: 1em;
}
#about_me .intro .study-field span {
  font-size: 18px;
}
#about_me .intro p {
  max-width: 350px;
  margin-bottom: 50px;
  font-size: 14px;
}
#about_me .intro .small {
  border-radius: 50%;
  margin-bottom: 20px;
}
#about_me .technical .img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#about_me .technical img {
  width: 65px;
  margin: 10px 5px;
  border-radius: 5px;
  padding: 7px;
  transition: background-color 0.3s, transform 0.5s;
  position: relative;
}
#about_me .technical img:hover {
  background-color: grey;
  transform: scale(1.1);
}
#about_me .technical img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  animation: disintegrate 0.5s ease-in;
  pointer-events: none;
}
#about_me .technical img:active {
  transform: scale(0.9);
}
#about_me .qualification-interests {
  display: Flex;
  margin-top: 60px;
}
#about_me .qualification-interests .divider {
  font-size: 30px;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}
#about_me .qualification-interests .divider::before,
#about_me .qualification-interests .divider::after {
  flex: 1;
  content: "";
  padding: 3px;
  border-top: 1px solid grey;
  margin: 5px;
  opacity: 0.35;
}
#about_me .qualification-interests .my-interests h4,
#about_me .qualification-interests .technical h4 {
  padding-bottom: 24px;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
#about_me .qualification-interests .my-interests {
  display: flex;
  flex-direction: column;
}
#about_me .qualification-interests .my-interests .interests .interests-list, #about_me .qualification-interests .my-interests .interests .qualification-list, #about_me .qualification-interests .my-interests .qualifications .interests-list, #about_me .qualification-interests .my-interests .qualifications .qualification-list {
  list-style: none;
  padding-left: 0;
}
#about_me .cv-and-certificate {
  margin-bottom: 40px;
  padding-top: 50px;
}
#about_me .cv-and-certificate .documents a {
  text-decoration: none;
}
#about_me .cv-and-certificate .divider {
  font-size: 30px;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}
#about_me .cv-and-certificate .divider::before,
#about_me .cv-and-certificate .divider::after {
  flex: 1;
  content: "";
  padding: 3px;
  border-top: 1px solid grey;
  margin: 5px;
  opacity: 0.35;
}/*# sourceMappingURL=main.css.map */